h1{
	color: #0B5351;
	text-align: center;
}
h2{
	text-align: center;
	color: #4E8098;;
}
p{background: #A5B452;
	text-align: justify ;
	text-align: center;}
body{
	background-image: url('fuji-cherry-GettyImages-1060517676-1024x600.jpeg');
fond-base{
	width: 1024px;
	height: 800px;
}
}

	



